<!DOCTYPE html>
<html>
    <head>
        <title>CSCIE 15 [Dynamic Web Applications: P3]</title>
        <link href="css/mainstyle.css" type="text/css" rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="title">

                <table class="tg">
                  <tr>
                    <th class="tg-vjsu">Developer's Best Friend</th>
                  </tr>
                  <tr>
                    <td class="tg-p96l">Lori-Ipsum Generator</td>
                  </tr>
                  <tr>
                    <td class="tg-qgsu">In publishing and graphic design, lorem ipsum is a placeholder text commonly used to demonstrate the graphic elements of a document or visual presentation. By replacing the distraction of meaningful content with filler text of scrambled Latin it allows viewers to focus on graphical elements such as font, typography, and layout<br></td>
                  </tr>
                  <tr>
                    <td class="tg-ecrz">Create random filler text for your applications:</td>
                  </tr>
                  <tr>
                    <td class="tg-ec2z"><a href="\loremlipsum">Generate some random text</td>
                  </tr>
                </table>

                <table class="tg">
                  <tr>
                    <td class="tg-p96l">Random User Generator</td>
                  </tr>
                  <tr>
                    <td class="tg-ecrz">Create random user data for your app</td>
                  </tr>
                  <tr>
                    <td class="tg-ec2z"><a href="\loremlipsum">Generate some users</td>
                  </tr>
                </table>
                </div>
            </div>
        </div>
    </body>
</html>
